.box{
  margin: auto;
  width: 46%;
  height: 81vh;
  background-color: yellow;
  position: relative;
  top: 8vh;
}
.box_text{
  place-content: center;
  font-weight: 400;
  position: relative;
  top: 35vh;
  font-size: larger;
}