.box{
  margin: auto;
  width: 46%;
  height: 81vh;
  background-color: yellow;
  position: relative;
  top: 8vh;
}
.box_text{
  place-content: center;
  font-weight: 400;
  position: relative;
  top: 35vh;
  font-size: larger;
  display: grid;
}
.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}